# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Next.js
.next/
out/

# Production builds
build/
dist/

# Node
node_modules/

# Package manager lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
.pnp.*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Caches
.npm/
.eslintcache
.cache/

# TypeScript
*.tsbuildinfo

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Testing outputs
cypress/videos/
cypress/screenshots/
playwright-report/
test-results/